q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 125%;
}

body > * {
  margin-left: 40px;
  margin-right: 10em;
}

h1 {
  background: #6d4a1d;
  color: #e8993b;
  text-transform: uppercase;
  padding-top: 100px;
  font-size: 60px;
  margin: 0;
  padding-left: 40px;
  margin-bottom: 1em;
}

h2 {
  color: #916125;
  margin-top: 2em;
  margin-bottom: 0em;
  font-weight: 400;
  font-size: 3em;
  margin-right: 0;
}

h2:hover:after {
  content: '  #' attr(id);
  font-size: 14px;
  color: #f49600;
}

ul, ol {
  margin: 0;
  padding: 0;
  margin-left: 20%;
}

li {
  list-style: none;
  padding-left: 10px;
  line-height: 1.4em;
  margin: 10px;
  margin-right: 0;
}

li:before {
  content: "• ";
  color: #f49600;
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -20px;
  top: -0px;
}

body > p,
body > pre,
h3 {
  margin-left: 20%;
/*   margin-right: 40px; */
  line-height: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
/*   max-width: 900px; */
}

li {
  margin-right: 10em;
}

figure {
  position: relative;
}

figure > img {
  max-width: 100%;
  display: block;
  margin-left: 20%;
  max-height: 600px;
  border: 1px solid #ccc;
}

figure > figcaption {
  font-weight: 400;
  font-size: 90%;
}

figure > figcaption {
  position: absolute;
  top: 0;
  width: 18%;
}

figcaption:first-word {
  font-size: 200%;
}

blockquote {
  font-size: 0.9em;
  line-height: 1.6em
}

blockquote:before {
  content: ' ';
  background: url(/images/quote.png) no-repeat;
  display: block;
  height: 45px;
  width: 40px;
  float: left;
  background-size: contain;
}

blockquote p:first-child {
  padding-top: 10px;
}

blockquote p:first-child:before {
  content: 'Note ';
  padding-right: 5px;
  color: #c77d01;
  text-transform: uppercase;
  font-weight: 600;
  /* padding-top: 20px; */
}

aside {
  border: 3px solid #f49600;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 2em;
  background: #fff2de;
}

aside h1 {
  background: #f49600;
  color: white;
  text-transform: none;

  padding: 0 0.6em;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.6em;
}

aside > * {
  margin-left: 1em;
  margin-right: 1em;
}

aside p {
  line-height: 1.4em;
  font-size: 0.9em;
}

a {
  color: #72490d;
  font-weight: 500;
}

code {
  color: #c77d01;
  font-size: 1.2em;
  font-family: monospace;
}

@media only screen and (max-width : 1024px) {
  body > *,
  body > p {
    margin-right: 40px;
  }
}

@media only screen and (max-width : 769px) {
  h1 {
    padding-top: 40px;
    font-size: 32px;
  }

  h2 {
    font-size: 1.7em;
  }

  body > * {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  body > p {
    margin-right: 0;
    margin-left: 0;
  }

  aside {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}

@media only screen and (min-width : 769px) {
  blockquote {
    float: left;
    width: 200px;
    margin-right: 20px;

    margin-left: 20px;
    margin-top: -20px;
  }

  blockquote:before {
    margin-top: 12px;
  }
}